openai
langchain
tiktoken
scikit-learn
plotly
streamlit
pandas
numpy
matplotlib
python-dotenv
scipy
tenacity
Pillow
emoji
tabulate
langchain-experimental
PyPDF2
langgraph
langchain_openai
langchain-community
chromadb
pypdf
pymupdf
azure-storage-blob
azure-ai-documentintelligence
azure-ai-formrecognizer
azure-search-documents
azure-core
azure-identity 
opencv-python-headless
pyyaml
torch
torchvision
streamlit-chat
duckduckgo-search
pyodbc==5.1.0
langchainhub
langsmith
pydantic
sqlalchemy
yaspin
lifetimes
shap
plotnine
sktime
skforecast
tsmoothie
feature-engine
pycaret 
apyori
MFLES
yfinance
lifelines
geopandas 
contextily